.blogpost__preview-container {
    display: flex;
    gap: 50px;
}

.blogpost__author {
    font-size: .8rem;
    margin-top: -15px;
}

.blogpost__image img {
    border: 1px solid black;
}

.blogpost {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
}

.blogpost h3 {
    margin: 0 0 10px 0;
}