.blogpost {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
}

.blogpost h3 {
    margin: 0 0 20px 0;
    color: white;
    background-color: #747bff;
    display: inline-block;
    padding: 0 5px;
    border-radius: 5px;
}

.blogpost__author {
    font-size: .8rem;
    margin-top: -15px;
}

.blogpost__author-link {
    text-decoration: none;
    color: inherit;
    font-style: italic;
}

.blogpost__preview-container {
    display: flex;
    gap: 50px;
    margin-top: 1rem;
}

.blogpost__image {
    border: 1px solid lightgrey;
    border-radius: var(--mantine-radius-md);
    width: 400px;
    height: 100%;
}

.blogpost__summary {
    margin-bottom: 1rem;
}

.blogpost__read-more-btn {
    background-color: #747bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 50px 0;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}