.header {
    height: var(--header-height);
    width: 100%;
    position: absolute;
    color: white;
    background-color: #747bff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
}

.header h1 {
    font-size: 3rem;
}