.blog__title {
    text-decoration: none;
    color: white;
}

.blog__posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.blog__author-search {
    max-width: 500px;
    margin-bottom: 1rem;
}

.blog__user-cards {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}